body {
    padding-top: 100px;

    background-image: url('../img/body_bg.jpg');
    background-repeat: repeat;
}
/*
button:hover {
    border: none;
    outline: none;
    background: none;
}*/

.my-slider {
    margin: 0 auto;
}


