body {
    padding-top: 100px;

    background-image: url('../img/body_bg.jpg');
    background-repeat: repeat;
}

button, button:focus, button:active, button:hover {
    border: none;
    outline: none;
    background: none;
}
