/*-----------------------------

** SLIDER

-----------------------------*/


.slider-box {
    position: relative;

    width: 570px;
    margin: 0 auto;

    border: 15px solid #fff;
}
.slider {
    overflow: hidden;

    width: 570px;
    height: 270px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide {
    float: left;

    width: 570px;
    height: 270px;
}

.slide img {
    width: 100%;
    height: 100%;
}





/*-----------------------------

** CONTROLS

-----------------------------*/


.arrow {
    position: absolute;
    top: 50%;

    display: inline-block;
    overflow: hidden;

    width: 20px;
    height: 40px;
}

.arrow::before {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 40px;

    content: '';

    border-radius: 100%;
    background-color: #4a4a4a;
}

.arrow::after {
    position: absolute;
    top: 50%;

    width: 7px;
    height: 11px;

    transform: translateY(-50%);
}

.prev {
    left: 0;

    transform: translate(-100%, -50%) translate(-15px);
}

.prev::before {
    left: 0;
}

.prev::after {
    right: 5px;

    content: url('../img/arrow_left.png');
}

.next {
    right: 0;

    transform: translate(100%, -50%) translateX(15px);
}

.next::before {
    right: 0;
}

.next::after {
    left: 5px;

    content: url('../img/arrow_right.png');
}

.paginator {
    position: absolute;
    top: 100%;
    left: 50%;

    margin-top: 30px;
    padding: 0;

    transform: translateX(-50%);
}

.direct {
    display: inline-block;

    width: 10px;
    height: 10px;

    list-style: none;

    border-radius: 50%;
    background-color: #969696;
}

.direct.active {
    background-color: #98c22a;
}

.direct:not(:last-child) {
    margin-right: 5px;
}
